<p>{{ todo.name }}</p>
<a href="/todos/{{ todo._id }}/edit">edit</a>
<form action="/todos/{{ this._id }}/delete" method="post" style="display: inline;">
  <button type="submit">delete</button>
</form>
<a href="/">Back</a>